body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #003049;
    color: #FFC312;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003049;
    padding: 15px;
    color: white;
    width: 100%;
  }

  .navbar .logo img {
    width: 70px;
    height: auto;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .navbar .nav-links li {
    margin: 10px 15px;
    position: relative;
  }
  
  .navbar .nav-links a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    transition: all 0.3s;
    position: relative;
  }
  
  .navbar .nav-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fabe49;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  
  .navbar .nav-links a:hover::after {
    width: 100%;
  }
  
  .navbar .nav-links a.active::after {
    width: 100%;
    background-color: #fabe49;
  }  
.container {
    max-width: 600px;
    margin: auto;
    background: #1B4F72;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    background: #ffffff;
    color: #0A3D62;
    border: none;
    border-radius: 5px;
}
.schedule {
    display: none;
    margin-top: 20px;
}
.card {
    background: #FFC312;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
    color: #0A3D62;
}
.show {
    display: block;
}
.fade-in {
    opacity: 1;
    transform: translateY(0);
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon span {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
  }
  
  @media (max-width: 768px) {
    .navbar .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #003049;
      width: 100%;
      padding: 10px 0;
    }
    .navbar .nav-links.active {
      display: flex;
    }
    .navbar .nav-links li {
      margin: 10px 0;
      text-align: center;
    }
    .menu-icon {
      display: flex;
    }
  }
   
