.logout-btn:hover {
  background-color: rgb(218, 63, 63);
}
.logout-btn i {
  font-size: 30px;
}

.logout-btn {
  background-color: red;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Samakan tinggi dengan menu lainnya */
}

.nav-links li {
  display: flex;
  align-items: center;
}
